<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns="http://www.w3.org/1999/html">

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop breadcrumb-item"></i> Transaction Details</h3>
            <ol class="breadcrumb">
                <li class="fa fa-home breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                <li class="fa fa-laptop breadcrumb-item"><a th:href="@{/accounts}">Accounts Home</a></li>
                <li class="fa fa-laptop breadcrumb-item"><a th:href="@{/transactions}">Transaction</a></li>
                <li class="fa fa-laptop breadcrumb-item">Details</li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 40%">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <form class="form-horizontal"  method="put">
                            <div class="form-group">
                                <header class="panel-heading">
                                    <h2>Transaction Details</h2>
                                </header>
                                </div>

                            <div class="form-group">
                                <label for="ddlContactAdd"
                                       class="col-sm-4 col-form-label">Contact: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="ddlContactAdd" name="contactid"
                                            th:disabled="disabled">
                                        <option>-SELECT-</option>
                                        <option th:each="contact : ${contacts}"
                                                th:value="${contact.id}"
                                                th:selected="(${contact.id} == ${transaction.contactid} ? False: True)"
                                                th:text="${contact.fullName}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ddlSupplierAdd"
                                       class="col-sm-4 col-form-label">Supplier: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="ddlSupplierAdd" name="supplierid"
                                            th:disabled="disabled">
                                        <option>-SELECT-</option>
                                        <option th:each="supplier : ${suppliers}"
                                                th:value="${supplier.id}"
                                                th:selected="(${supplier.id} == ${transaction.supplierid} ? True: Flase)"
                                                th:text="${supplier.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ddlClientAdd"
                                       class="col-sm-4 col-form-label">Client: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="ddlClientAdd" name="clientid"
                                            th:disabled="disabled">
                                        <option>-SELECT-</option>
                                        <option th:each="client : ${clients}"
                                                th:value="${client.id}"
                                                th:selected="(${client.id} == ${transaction.clientid} ? False: True)"
                                                th:text="${client.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ddlEmployeeAdd"
                                       class="col-sm-4 col-form-label">Approved By: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="ddlEmployeeAdd" name="employeeid"
                                            th:disabled="disabled">
                                        <option>-SELECT-</option>
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.id}"
                                                th:selected="(${employee.id} == ${transaction.employeeid} ? False: True)"
                                                th:text="${employee.fullName}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            &nbsp;
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" disabled th:href="@{/transactionAdd}" class="btn btn-success">
                                        Save
                                    </button>
                                    <a th:href="@{/transactions}" class="btn btn-warning">Exit</a>
                                </div>
                            </section>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>