<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('document').ready(function () { // Line 1
            $('#ddlCountryAdd').on('change',function () { // Line 2
                $('#ddlStateAdd').empty().append('<option value="null">-SELECT-</option>'); // Line 3
                var countryid = $(this).val(); //Line 4
                var href = "http://localhost:8080/parameters/country/" + countryid //Line 5
                $.get(href, function (country, status) { // Line 6
                    var states = country.states; // Line 7
                    for (var i = 0; i <= states.length-1; i++) { // Line 8
                        $('#ddlStateAdd').append('<option value="' + states[i].id + '">' + states[i].name + '</option>'); // Line 9
                    }
                })
            })
        })
    </script>
</head>

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop breadcrumb-item"></i> Client Editing</h3>
                <ol class="breadcrumb">
                    <li class="fa fa-home breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                    <li class="fa fa-laptop breadcrumb-item"><a th:href="@{/parameters}">Parameters Home</a></li>
                    <li class="fa fa-laptop breadcrumb-item"><a onclick="return confirm('Are you sure you want to ' +
                     'exit without save?')" th:href="@{/clients}">Clients</a></li>
                    <li class="fa fa-laptop breadcrumb-item">Editing</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 40%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal " th:action="@{'/clients/update/'+${client.id}}" method="put">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2>Editing Client Record</h2>
                            </header>
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtNameAdd" class="col-sm-4 col-form-label">Name: </label>
                                        <div class="col-sm-12">
                                            <input type="text" th:value="${client.name}" class="form-control"
                                                   id="txtNameAdd" name="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-12">
                                            <input type="email" th:value="${client.email}" class="form-control"
                                                   id="txtEmailAdd" name="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebsiteAdd" class="col-sm-4 col-form-label">website: </label>
                                        <div class="col-sm-12">
                                            <input type="text" th:value="${client.website}" class="form-control"
                                                   id="txtWebsiteAdd" name="website" placeholder="Website">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddressAdd" class="col-sm-4 col-form-label">Address</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" th:value="${client.address}"
                                                      id="txtAddressAdd" name="address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Country</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="ddlCountryAdd" name="countryid">
                                                    <option>-SELECT-</option>
                                                    <option th:each="country : ${countries}"
                                                            th:value="${country.id}"
                                                            th:selected="(${country.id} == ${client.countryid}?True: False)"
                                                            th:text="${country.description}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ddlStateAdd" class="col-sm-4 col-form-label">State</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="ddlStateAdd" name="stateid">
                                                    <option>-SELECT-</option>
                                                    <option th:each="state : ${states}"
                                                            th:value="${state.id}"
                                                            th:selected="(${state.id} == ${client.stateid}?True: False)"
                                                            th:text="${state.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtCityAdd" class="col-sm-4 col-form-label">City: </label>
                                        <div class="col-sm-12">
                                            <input type="text" th:value="${client.city}" class="form-control"
                                                   id="txtCityAdd" name="city" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMobileAdd" class="col-sm-4 col-form-label">Mobile: </label>
                                        <div class="col-sm-12">
                                            <input type="text" th:value="${client.mobile}" class="form-control"
                                                   id="txtMobileAdd" name="mobile" placeholder="Mobile">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDetailsAdd" class="col-sm-4 col-form-label">Details.: </label>
                                        <div class="col-sm-12">
                                            <input type="text" th:value="${client.details}" class="form-control"
                                                   id="txtDetailsAdd" name="details" placeholder="Details">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </section>
                        <section class="panel">
                            <div class="panel-body">
                                <button type="submit" th:href="@{/clientAdd}" class="btn btn-success">Save</button>
                                <a th:href="@{/clients}" class="btn btn-warning">Exit</a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>