<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns="http://www.w3.org/1999/html">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('document').ready(function () { // Line 1
            $('#ddlCountryAdd').on('change',function () { // Line 2
                $('#ddlStateAdd').empty().append('<option value="null">-SELECT-</option>'); // Line 3
                var countryid = $(this).val(); //Line 4
                var href = "http://localhost:8080/parameters/country/" + countryid //Line 5
                $.get(href, function (country, status) { // Line 6
                    var states = country.states; // Line 7
                    for (var i = 0; i <= states.length-1; i++) { // Line 8
                        $('#ddlStateAdd').append('<option value="' + states[i].id + '">' + states[i].name + '</option>'); // Line 9
                    }
                })
            })
        })
    </script>
</head>

<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop breadcrumb-item"></i> Location Editing</h3>
            <ol class="breadcrumb">
                <li class="fa fa-home breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                <li class="fa fa-laptop breadcrumb-item"><a th:href="@{/parameters}">Parameters Home</a></li>
                <li class="fa fa-laptop breadcrumb-item"><a onclick="return confirm('Are you sure you want to ' +
                     'exit without save?')" th:href="@{/locations}">Locations</a></li>
                <li class="fa fa-laptop breadcrumb-item">Editing</li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 40%">
        <div class="row">
            <div class="col-lg-12">
                <header class="panel-heading">
                    <h2>Editing Location Record</h2>
                </header>
                <section class="panel">
                    <div class="panel-body">
                        <form class="form-horizontal " th:action="@{'/locations/update/'+${location.id}}" method="put">
                            <div class="form-group">
                                <label class="control-label col-sm-4">City</label>
                                <div class="col-sm-12">
                                    <input name="city" th:value="${location.city}" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Address</label>
                                <div class="col-sm-12">
                                    <input name="address" th:value="${location.address}" class="form-control" size="16"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Country</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" id="ddlCountryAdd" name="countryid">
                                            <option>-SELECT-</option>
                                            <option th:each="country : ${countries}"
                                                    th:value="${country.id}"
                                                    th:selected="(${country.id} == ${location.countryid}?True: False)"
                                                    th:text="${country.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ddlStateAdd" class="col-sm-4 col-form-label">State</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" id="ddlStateAdd" name="stateid">
                                            <option>-SELECT-</option>
                                            <option th:each="state : ${states}"
                                                    th:value="${state.id}"
                                                    th:selected="(${state.id} == ${location.stateid}?True: False)"
                                                    th:text="${state.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                            <section class="panel">
                                <div class="panel-body">
                                    <button type="submit" th:href="@{/locationAdd}" class="btn btn-success">Save
                                    </button>
                                    <a th:href="@{/locations}" class="btn btn-warning">Exit</a>
                                </div>
                            </section>
                        </form>
                    </div>

                </section>
            </div>
        </div>
    </div>

</div>

</body>

</html>