<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">


<body class="vehicleMaintenance">

<div layout:fragment="content">
    <section class="wrapperMaintenance">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop breadcrumb-item"></i> <b>Vehicle Maintenance List</b></h3>
                <ol class="breadcrumb">
                    <li class="fa fa-home breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                    <li class="fa fa-laptop breadcrumb-item"><a th:href="@{/fleet}">Fleet Home</a></li>
                    <li class="fa fa-laptop breadcrumb-item">Vehicle Maintenance List</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <a  id="newButton" th:href="@{/vehicleMaintenanceAdd}" class="btn btn-success">
                    <b>New Maintenance </b>
                </a>
            </div>
            &nbsp;
            <section class="panel">
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="icon_profile"></i>Vehicle</th>
                        <th><i class="icon_calendar"></i>Start Date</th>
                        <th><i class="icon_calendar"></i>End Date</th>
                        <th><i class="icon_calendar"></i>Price</th>
                        <th><i class="icon_calendar"></i>Supplier</th>
                        <th><i class="icon_calendar"></i>Remarks</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>
                    <tr th:each="vehicleMaintenance: ${vehicleMaintenances}">
                        <td th:text="${vehicleMaintenance.vehicle.name}"></td>
                        <td th:text="${#dates.format(vehicleMaintenance.startDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(vehicleMaintenance.endDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${vehicleMaintenance.price}"></td>
                        <td th:text="${vehicleMaintenance.supplier.name}"></td>
                        <td th:text="${vehicleMaintenance.remarks}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a id="vehicleDetailsButton" type="button" class="btn btn-success btn-sm"
                                   th:href="@{'/vehicleMaintenanceDetails/'+${vehicleMaintenance.id}}"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-success btn-sm"
                                   th:href="@{'/vehicleMaintenanceEdit/'+${vehicleMaintenance.id}}"><i class="bi bi-check-circle"></i></a>
                                <a class="btn btn-danger btn-sm"
                                   onclick="return confirm('Are you sure you want to delete this record?')"
                                   th:href="@{'/vehicleMaintenances/delete/'+${vehicleMaintenance.id}}"><i class="bi bi-x-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
</body>
</html>